@charset "UTF-8";
/* =============================================================================
   Primary styles
   Author: Simon Shahriveri
   ========================================================================== */
/*============================
*	Base
	all base files to reset and get the site started
*/
/* ============================================================================
   0 - Normalisation
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video, progress {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font: normal 16px / 20px "Montserrat", Helvetica, Arial, sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  min-width: 320px; }

a {
  background: transparent;
  color: #00e; }

a:hover {
  color: #06e; }

a:hover, a:active, a:focus {
  outline: 0; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: pointer; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 12px; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

address {
  font-weight: normal;
  font-style: normal; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol, ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

th {
  font-weight: bold; }

small {
  font-size: 10px;
  font-style: normal; }

i {
  font-style: normal; }

/*  Blockquotes  */
blockquote, blockquote p {
  font-size: 1.2142857142857142857142857142857em;
  line-height: 24px;
  color: #777;
  font-style: italic; }

blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd; }

blockquote cite {
  display: block;
  font-size: 12px;
  color: #555; }

blockquote cite:before {
  content: "\2014 \0020"; }

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555; }

/* #Jank Free
================================================== */
.page--disable {
  pointer-events: none; }

/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
  .clearfix:after {
    clear: both; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* #Images
================================================== */
img.scale-with-grid {
  max-width: 100%;
  width: 100%;
  height: auto; }

/* #Site wide Box-Sizing
================================================== */
/**
* Let’s make the box model all nice, shall we...?
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*-----------------------------------------------------------------------------
--------------------------------1--------TYPOGRAPHY----------------------------
-------------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
  line-height: 62.5%; }

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-size: 1.6rem;
  line-height: 2rem;
  color: black;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

/* Paragraph sizes */
p {
  margin: 0 0 10px;
  padding: 10px 0 0;
  color: black;
  font-size: 16px;
  line-height: 20px;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

a, a:active {
  color: black;
  text-decoration: none; }

a:hover {
  color: black;
  text-decoration: underline; }

strong, b {
  font-weight: bold; }

small,
.small {
  font-size: 10px;
  line-height: 12.5px;
  font-size: 1rem;
  line-height: 1.25rem;
  display: inline-block; }

/*-----------------------------------------------------------------------------
--------------------------------2--------HEADINGS------------------------------
-------------------------------------------------------------------------------*/
h1,
.h_alpha, h2,
.h_beta, h3,
.h_gamma, h4,
.h_delta, h5,
.h_epsilon, h6,
.h_zeta {
  margin: 0 0 10px 0;
  color: black;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: normal; }

h1,
.h_alpha {
  font-size: 50px;
  line-height: 62.5px;
  font-size: 5rem;
  line-height: 6.25rem; }

h2,
.h_beta {
  font-size: 30px;
  line-height: 37.5px;
  font-size: 3rem;
  line-height: 3.75rem; }

h3,
.h_gamma {
  font-size: 25px;
  line-height: 31.25px;
  font-size: 2.5rem;
  line-height: 3.125rem; }

h4,
.h_delta {
  font-size: 20px;
  line-height: 25px;
  font-size: 2rem;
  line-height: 2.5rem; }

h5,
.h_epsilon {
  font-size: 18px;
  line-height: 22.5px;
  font-size: 1.8rem;
  line-height: 2.25rem; }

h6,
.h_zeta {
  font-size: 16px;
  line-height: 20px;
  font-size: 1.6rem;
  line-height: 2rem; }

.h_giga {
  font-size: 150px;
  line-height: 187.5px;
  font-size: 15rem;
  line-height: 18.75rem; }

.h_mega {
  font-size: 120px;
  line-height: 150px;
  font-size: 12rem;
  line-height: 15rem; }

.h_kilo {
  font-size: 90px;
  line-height: 112.5px;
  font-size: 9rem;
  line-height: 11.25rem; }

.h_hecto {
  font-size: 70px;
  line-height: 87.5px;
  font-size: 7rem;
  line-height: 8.75rem; }

.h_milli {
  font-size: 12px;
  line-height: 15px;
  font-size: 1.2rem;
  line-height: 1.5rem; }

.h_micro {
  font-size: 10px;
  line-height: 12.5px;
  font-size: 1rem;
  line-height: 1.25rem; }

.font--xxs {
  font-size: 10px;
  line-height: 12.5px;
  font-size: 1rem;
  line-height: 1.25rem; }

.font--xs {
  font-size: 12px;
  line-height: 15px;
  font-size: 1.2rem;
  line-height: 1.5rem; }

.font--s {
  font-size: 14px;
  line-height: 17.5px;
  font-size: 1.4rem;
  line-height: 1.75rem; }

.font--m {
  font-size: 16px;
  line-height: 20px;
  font-size: 1.6rem;
  line-height: 2rem; }

.font--l {
  font-size: 21px;
  line-height: 26.25px;
  font-size: 2.1rem;
  line-height: 2.625rem; }

.font--xl {
  font-size: 26px;
  line-height: 32.5px;
  font-size: 2.6rem;
  line-height: 3.25rem; }

.font--xxl {
  font-size: 31px;
  line-height: 38.75px;
  font-size: 3.1rem;
  line-height: 3.875rem; }

.type--upper {
  text-transform: uppercase; }

.type--lower {
  text-transform: lowercase; }

/*============================
*	Layout
	Main layout elements of site - Header, sidebar footer etc but none of the reusable
	elements that are inside of these including headers, links etc. Make these in a
	more modular method.
*/
/*-----------------------------------------------------------------------------
---------------------------3----LAYOUT BASE ELEMENTS----------------------------
-------------------------------------------------------------------------------*/
html {
  overflow-x: hidden;
  min-height: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%; }

/*-----------------------------------------------------------------------------
------------------------------4----------LAYOUT--------------------------------
-------------------------------------------------------------------------------*/
.page {
  position: relative;
  overflow: hidden;
  width: 100%; }

/* Core Layout Wrapper */
.l-wrap {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden; }

/* Primary Header */
/* Main -> Core Content Container */
main .col {
  background-color: #cccccc;
  padding: 5px;
  margin-bottom: 10px; }
  main .col > .col {
    margin-top: 10px;
    background-color: #b3b3b3; }

/* Footer -> Site Primary */
/*============================
*	Modules
	this will be the core styles for the site. this should be as modular as possible
	but no state styles. These are for the next section.
*/
/*
BEM GRID

A Simple Grid mixin that is easily extendable and customisable to your needs
*/
.container {
  position: relative;
  max-width: 1260px;
  margin: 0 auto;
  /*---------------------------*/
  /*---------------------------*/ }
  @media screen and (max-width: 480px) {
    .container {
      max-width: 480px; } }
  .lt-ie9 .container {
    width: 1260;
    min-width: 1260; }

.row {
  position: relative;
  width: 100%;
  margin: 0 auto 20px;
  display: block; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row {
    *zoom: 1; }

.col {
  position: relative;
  float: left;
  display: inline;
  margin-left: 0.79365%;
  margin-right: 0.79365%;
  vertical-align: top;
  /*---------------------------*/
  /*---------------------------*/ }
  .col--1 {
    width: 6.74603%; }
  .col--2 {
    width: 15.07937%; }
  .col--3 {
    width: 23.4127%; }
  .col--4 {
    width: 31.74603%; }
  .col--5 {
    width: 40.07937%; }
  .col--6 {
    width: 48.4127%; }
  .col--7 {
    width: 56.74603%; }
  .col--8 {
    width: 65.07937%; }
  .col--9 {
    width: 73.4127%; }
  .col--10 {
    width: 81.74603%; }
  .col--11 {
    width: 90.07937%; }
  .col--12 {
    width: 98.4127%; }
  .col--offset-1 {
    margin-left: 9.12698%; }
  .col--offset-2 {
    margin-left: 17.46032%; }
  .col--offset-3 {
    margin-left: 25.79365%; }
  .col--offset-4 {
    margin-left: 34.12698%; }
  .col--offset-5 {
    margin-left: 42.46032%; }
  .col--offset-6 {
    margin-left: 50.79365%; }
  .col--offset-7 {
    margin-left: 59.12698%; }
  .col--offset-8 {
    margin-left: 67.46032%; }
  .col--offset-9 {
    margin-left: 75.79365%; }
  .col--offset-10 {
    margin-left: 84.12698%; }
  .col--offset-11 {
    margin-left: 92.46032%; }
  .col--flush-1 {
    width: 8.33333%;
    margin-left: 0;
    margin-right: 0; }
  .col--flush-2 {
    width: 16.66667%;
    margin-left: 0;
    margin-right: 0; }
  .col--flush-3 {
    width: 25.0%;
    margin-left: 0;
    margin-right: 0; }
  .col--flush-4 {
    width: 33.33333%;
    margin-left: 0;
    margin-right: 0; }
  .col--flush-5 {
    width: 41.66667%;
    margin-left: 0;
    margin-right: 0; }
  .col--flush-6 {
    width: 50.0%;
    margin-left: 0;
    margin-right: 0; }
  .col--flush-7 {
    width: 58.33333%;
    margin-left: 0;
    margin-right: 0; }
  .col--flush-8 {
    width: 66.66667%;
    margin-left: 0;
    margin-right: 0; }
  .col--flush-9 {
    width: 75.0%;
    margin-left: 0;
    margin-right: 0; }
  .col--flush-10 {
    width: 83.33333%;
    margin-left: 0;
    margin-right: 0; }
  .col--flush-11 {
    width: 91.66667%;
    margin-left: 0;
    margin-right: 0; }
  .col--full {
    width: 100%;
    margin: 0; }
  .col--alpha {
    margin-left: 0; }
  .col--omega {
    margin-right: 0; }
  .col--left {
    float: left; }
  .col--right {
    float: right; }
  .col--center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none; }
    .col--center:before, .col--center:after {
      content: " ";
      display: table; }
    .col--center:after {
      clear: both; }
    .col--center {
      *zoom: 1; }
  @media screen and (max-width: 480px) {
    .container .col.col.col {
      width: 93.25397%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      float: none; }
      .container .col.col.col:before, .container .col.col.col:after {
        content: " ";
        display: table; }
      .container .col.col.col:after {
        clear: both; }
      .container .col.col.col {
        *zoom: 1; }
      .container .col.col.col[class*="flush"] {
        width: 100.0%; } }

/*========================================================================================
============================ Responsive Silent Classes ===================================
==========================================================================================*/
.container .col {
  /* generic desktop overrides */
  /* generic tablet silent classes */
  /* generic mobile silent classes */ }
  @media screen and (max-width: 1140px) {
    .container .col.mq-desk-lrg--full {
      width: 98.4127%; }
      .container .col.mq-desk-lrg--full--flush {
        width: 100.0%; } }
  .container .col.mq-tab-lrg--quart {
    /*---------------------------*/
    /*---------------------------*/ }
    @media screen and (max-width: 820px) {
      .container .col.mq-tab-lrg--quart {
        width: 23.4127%; }
        .container .col.mq-tab-lrg--quart--flush {
          width: 25.0%; } }
  .container .col.mq-tab-lrg--half {
    /*---------------------------*/
    /*---------------------------*/ }
    @media screen and (max-width: 820px) {
      .container .col.mq-tab-lrg--half {
        width: 48.4127%; }
        .container .col.mq-tab-lrg--half--flush {
          width: 50.0%; } }
  .container .col.mq-tab-lrg--full {
    /*---------------------------*/
    /*---------------------------*/ }
    @media screen and (max-width: 820px) {
      .container .col.mq-tab-lrg--full {
        width: 98.4127%; }
        .container .col.mq-tab-lrg--full--flush {
          width: 100.0%; } }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .container .col.mq-tab--quart {
      width: 23.4127%; }
      .container .col.mq-tab--quart--flush {
        width: 25.0%; } }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .container .col.mq-tab--half {
      width: 48.4127%; }
      .container .col.mq-tab--half--flush {
        width: 50.0%; } }
  .container .col.mq-tab--full {
    /*---------------------------*/
    /*---------------------------*/ }
    @media screen and (max-width: 768px) {
      .container .col.mq-tab--full {
        width: 98.4127%; }
        .container .col.mq-tab--full--flush {
          width: 100.0%; } }
  .container .col.mq-tab-sml--quart {
    /*---------------------------*/
    /*---------------------------*/ }
    @media screen and (max-width: 765px) {
      .container .col.mq-tab-sml--quart {
        width: 23.4127%; }
        .container .col.mq-tab-sml--quart--flush {
          width: 25.0%; } }
  .container .col.mq-tab-sml--half {
    /*---------------------------*/
    /*---------------------------*/ }
    @media screen and (max-width: 765px) {
      .container .col.mq-tab-sml--half {
        width: 48.4127%; }
        .container .col.mq-tab-sml--half--flush {
          width: 50.0%; } }
  .container .col.mq-tab-sml--full {
    /*---------------------------*/
    /*---------------------------*/ }
    @media screen and (max-width: 765px) {
      .container .col.mq-tab-sml--full {
        width: 98.4127%; }
        .container .col.mq-tab-sml--full--flush {
          width: 100.0%; } }
  .container .col.mq-mob-lrg--quart {
    /*---------------------------*/
    /*---------------------------*/ }
    @media screen and (max-width: 640px) {
      .container .col.mq-mob-lrg--quart {
        width: 23.4127%; }
        .container .col.mq-mob-lrg--quart--flush {
          width: 50.0%; } }
  .container .col.mq-mob-lrg--half {
    /*---------------------------*/
    /*---------------------------*/ }
    @media screen and (max-width: 640px) {
      .container .col.mq-mob-lrg--half {
        width: 48.4127%; }
        .container .col.mq-mob-lrg--half--flush {
          width: 50.0%; } }
  .container .col.mq-mob-lrg--full {
    /*---------------------------*/
    /*---------------------------*/ }
    @media screen and (max-width: 640px) {
      .container .col.mq-mob-lrg--full {
        width: 98.4127%; }
        .container .col.mq-mob-lrg--full--flush {
          width: 100.0%; } }
  .container .col.mq-mob--half {
    /*---------------------------*/
    /*---------------------------*/ }
    @media screen and (max-width: 480px) {
      .container .col.mq-mob--half {
        width: 48.4127%; }
        .container .col.mq-mob--half--flush {
          width: 50.0%; } }
  .container .col.mq-mob--full {
    /*---------------------------*/
    /*---------------------------*/ }
    @media screen and (max-width: 480px) {
      .container .col.mq-mob--full {
        width: 98.4127%; }
        .container .col.mq-mob--full--flush {
          width: 100.0%; } }

/*# sourceMappingURL=main.css.map */
